services:

  redis:
    image: redis/redis-stack:latest
    container_name: market_redis
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
    networks:
      - market_net

  app:
    build: .
    container_name: market_app
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
      # - GOOGLE_API_KEY=coloque-sua-chave-api-aqui # pra usar o gemini, você coloca sua chave API aqui, hardcoded
      # ou, simplesmente cria essa variável de ambiente em um .env
    networks:
      - market_net

volumes:
  redis_data:

networks:
  market_net:
    driver: bridge