services:

  redis:
    image: redis/redis-stack:latest
    container_name: market_redis
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
    networks:
      - market_net

  app:
    build: .
    container_name: market_sim_app
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
    command: tail -f /dev/null
    networks:
      - market_net
    profiles:
      - waitDev

volumes:
  redis_data:

networks:
  market_net:
    driver: bridge